/* Fonts */

@font-face{
    font-family: icons;
    src: url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
         url("../fonts/websymbols-regular-webfont.eot"),
         url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/websymbols-regular-webfont.woff") format("woff"),
         url("../fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: bebas;
    src: url("../fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: trebuche;
    src: url("../fonts/TrebuchetMS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* General styles */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100%;
    min-height: 100%;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/pattern.png);
}

a {
    text-decoration: none;
    color: #00548e;
}

.icons{
    font-family: icons;
}

.clearfix{
    float: none;
    clear: both;
}

/* HEADER */

header{
    background-color: #000000;
    color: white;
    height: 75px;
}

header a{
    color: white;
}

#logo{
    background-color: #37bcf9;
    width: 210px;
    height: 50px;
    float: left;
    font-size: 25px;
    padding-top: 5px;
    margin: 10px 0px 10px 10%;
    font-family: bebas;
    letter-spacing: 2px;
    overflow: hidden;
}

#logo .icons{
    display: block;
    font-family: icons;
    font-size: 30px;
    float: left;
    padding-top: 1px;
    margin-left: 30px;
    margin-right: 10px;
    /*Inicio animación Logo*/
    animation-name: rotar-icono;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotar-icono{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#logo:hover{
    border-radius: 2px;
    color: black;
    background-color: #CCC;

}

#logo:hover .icons{
    animation: desdeAbajo 500ms linear;
}

@keyframes desdeAbajo{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

#logo h2{
    animation: desdeDerecha 500ms linear;
}

@keyframes desdeDerecha{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translate();
    }
}

header nav{
    text-align: center;
}

header nav a{
    display: inline-block;
    height: 2rem;
    margin-left: 2%;
    padding-top: 25px;
    text-decoration: none;
    font-family: bebas;
    font-size: 25px;
}

header nav a:hover{
    color: #37bcf9;
    transform: scale(1.2,1.2);
}

/* MAIN */

#navbar{
    width: 100%;
}

#navbar h1{
    background-image: url(../img/bakbaner.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: trebuche;
    font-size: 40px;
    padding: 30px;
    width: 100%;
    border: 1px solid black;
    text-shadow: 3px 3px 2px black;
    animation: mostrarTexto 2s linear;
    overflow: hidden;/*Se añade para que todo lo que salga fuera en la animacion no se vea*/
}

@keyframes mostrarTexto{
    0%{
        transform: translateX(-600%);
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
        text-shadow: 3px 3px 2px black;;
        color: white;
        opacity: 1;
    }
}

#titulo{
    width: 90%;
    margin: 20px auto;
    height: 130px;
    background-color: white;
    padding: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 1px 1px 2px black;
    animation: mostrarTexto 2s linear;
}

#enlaces{
    width: 100%;
    padding-left: 3.5%;
    padding-right:3.5%;
    margin-top: 2%;
    overflow: hidden;
}

/* CARDS */

#enlaces a{
    display: block;
    background-color: white;
    width: 220px;
    height: 325px;
    border: 1px solid #e0e0e0;
    float: left;
    margin-left: 12.3%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px gray;
    text-decoration: none;
    font-family: sans-serif,Arial, Helvetica;
    color: #00548e;
    text-align: center;
    transition: all 300ms;
    overflow: hidden;
}

#enlaces a:hover{
    box-shadow: 1px 1px 5px gray inset;
    background-color:black;
}

#enlaces a:first-child{
    margin-left: 2%;
}

#enlaces a .icons{
    font-family: icons;
    font-size: 60px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    transition: all 300ms;
    overflow: hidden;
}

#enlaces a:hover .icons{
    font-size: 90px;
    color: #3737bcf9;
    animation: mostrarIcono 300ms linear;
}

@keyframes mostrarIcono{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

#enlaces a h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    transition: all 300ms;
    overflow: hidden;
}

#enlaces a:hover h3{
    color: white;
    animation: mostrarCategoria 400ms linear;
}

@keyframes mostrarCategoria{
    from{
        transform: translateY(2000%);
        color: black;
    }
    to{
        transform: translateY(0%);
        color: white;
    }
}


#enlaces a:hover p{
    color: white;
    animation: mostrarParrafo 600ms linear;
}

@keyframes mostrarParrafo{
    from{
        transform: translateX(2000%);
        color: black;
    }
    to{
        transform: translateX(0%);
        color: white;
    }
}

section{
    float: left;
    margin: 2% 2% 2% 12%;
    width: 60%;
}

section>h2{
    background-color: #d9d9d9;
    text-align: center;
    font-family: bebas;
    font-weight: 200;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px 0px;
    box-shadow: 2px 2px 1px black;
    margin-bottom: 40px;
}

article{
    border: 1px solid #a1a1a1;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 1px 1px 5px black;
}

article h4{
    float: left;
    color: #00548e;
    font-family: trebuche;
    font-size: 20px;
    padding: 10px 0px 10px 15px;
}

article h4 a:hover{
    text-decoration: underline;
    color: #2ca0ca;
}

article .descripcion{
    float: right;
    background-color: #393d3f;
    color: rgb(212, 212, 212);
    border-radius: 0px 0px 0px 5px;
}

article .descripcion p{
    display: inline-block;
    padding: 10px;
}

article p{
    clear: both;
    padding: 10px;
}

article:last-child{
    margin-top: 70px;
    text-align: center;
}

article:last-child:hover{
    border-radius: 50px;
    background-color: #00548e;
    color: white;
    transition: all 600ms;
}

article:last-child h2{
    height: 100%;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 5px;
}

article:last-child a:hover, article:last-child h2:hover{
    color: white;
}

aside{
    float: left;
    width: 15%;
    margin-top: 80px;
    margin: 0px auto;
}

aside h3{
    font-family: bebas;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    background-color: #cccccc;
    padding: 5px 0px 6px 12px;
    margin: 10px 0px;
    box-shadow: 2px 2px 2px black;
}

#buscar{
    position: relative;
    width: 80%;
    margin: 10px auto;
}

#buscar input[type="text"]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 5px grey inset;
}

#buscar input[type="submit"]{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    font-size: 20px;
    color: #595655;
    height: 100%;
    border-left: 1px solid #e1e1e1;
}

#buscar input:hover, #login form input:hover,#buscar input:focus, #login form input:focus{
    outline: none;
    box-shadow: 1px 1px 5px #00548e inset;
    border-left: 1px solid #00548e;
    color: #00548e;
    cursor: pointer;
}

#login{
    border: 1px solid #e1e1e1;
    background-color: white;
    width: 80%;
    height: 220px;
    margin: 20px auto;
    box-shadow: 1px 1px 5px gray;
}

#login input[type="text"],#login input[type="password"]{
    display: block;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin: 15px auto;
    outline: none;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 2px grey inset;
}

#login input[type="text"]::placeholder,#login input[type="password"]::placeholder{
    font-family: icons;
    font-size: 15px;
    color: black;
}

#login input[type="password"]::placeholder{
    font-size: 20px;
    padding-top: 10px;
}

#login .botones{
    width: 75%;
    margin: 0px auto;
}

#login input[type="submit"],#login input[type="reset"]{
    display: inline-block;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    color: white;
    font-family: trebuche;
    text-align: center;
    width: 40%;
    height: 40px;
    border: 1px solid black;
    border-left: none;
    font-size: 20px;
    margin-bottom: 15px;
}

#login input[type="reset"]{
    float: right;
}

#login input[type="submit"]:hover,#login input[type="reset"]:hover{
    box-shadow: 1px 1px 5px inset black;
    transition: all 300ms;
    cursor: pointer;
}

#login .registrarse{
    margin-left: 25px;
}

#login .registrarse a{
    color: #000000;
}

#login .registrarse a:hover{
    text-decoration: underline;
    color: #2ca0ca;
}

#redesSociales{
    border: 1px solid #e1e1e1;
    background-color: white;
    width: 80%;
    height: 220px;
    margin: 20px auto;
    box-shadow: 1px 1px 5px gray;
}

.red{
    margin: 10px;
    font-size:small;
}

.red p{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

#redesSociales a{
    margin: 10px 10px;
    line-height: 5px;
}

#redesSociales img{
    width: 40px;
    float: left;
}

#colaboradores{
    border: 1px solid #e1e1e1;
    background-color: white;
    width: 70%;
    height: 240px;
    margin: 20px auto;
    box-shadow: 1px 1px 5px gray;
}
/* FOOTER */

footer {
    background-color: #000000;
    color: white;
    width: 100%;
    margin-top: auto;
    padding-bottom: 50px;
}

#footer{
    width: 80%;
    margin: 0px auto;
}

.boxFooter{
    width: 30%;
    margin-top: 40px;
    float: left;
}

.boxFooter:nth-child(2),.boxFooter:nth-child(3){
    margin-left: 80px;
}

.boxFooter h3{
    background-color: #e3e3e3;
    color: #000000;
    font-family: bebas;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.boxFooter li{
    margin-top: 30px;
    color: white;
    width: 80%;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    transition: all 400ms;
}

.boxFooter li:hover{
    padding-left: 20px;
}

.boxFooter li:hover a{
    color: white;
}

.boxFooter li:first-child{
    border: none;
}

.boxFooter li::marker{
    font-size: 30px;
}

.boxFooter a{
    font-size: 30px;
    color: #2a91c0;
}

.boxFooter iframe{
    margin-top: 10px;
}

.logoHtml{
    width: 100%;
    padding: 8%;
}

.imagenes img{
    width: 12%;
    margin: 20px 5px;
}

.imagenes img:first-child{
    margin-left: 8%;
}

.autor{
    text-align: center;
    margin: 10px;
}

/* DISEÑO RESPONSIVE */

@media (max-width: 2491px){
    #redesSociales{
        overflow-x: auto;
    }
    #enlaces a:hover .icons{
        font-size: 60px;
        color: #3737bcf9;
        animation: mostrarIcono 300ms linear;
    }
}

@media (max-width: 2425px){
    #titulo{
        width: 95%;
    }

    #enlaces a{
        margin-left: 2%;
    }

    #enlaces a:nth-child(1){
        margin-left: 20%;
    }

    #enlaces a:nth-child(5){
        margin-right: 20%;
    }
}

@media (max-width: 2275px){
    #enlaces{
        width: 235px;
        padding: 0px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
        float: right;
    }

    #enlaces a{
        float: none;
        height: 250px;
    }
    #enlaces a:first-child{
        margin-left: 2%;
    }
    section{
        float: right;
        margin-left: 5%;
    }
    section article{
        margin-top: 95px;
    }
    aside {
        float: none;
        clear: both;
        width: 80%;
        margin: 0px auto;
    }
    .asideBox{
        float: left;
        width: 400px;
        margin: 10px;
    }

    .asideBox:first-child #buscar{
        margin-top: 100px;
    }
}

@media (max-width: 2100px){
    .asideBox:nth-child(3){
        clear: both;
    }
    aside{
        width: 840px;
        margin: 0px auto;
    }
}

@media (max-width: 2000px){
    #titulo h1{
        font-size: 20px;
    }
    #titulo{
        height: 110px;
    }
    #footer{
        width: 70%;
    }
    .boxFooter{
        width: 300px;
    }
    .imagenes img{
        width: 10%;
    }
    .boxFooter:first-child{
        margin-left: 170px;
    }
}

@media (max-width: 1758px){
    .boxFooter:nth-child(3){
        display: none;
    }
    .boxFooter:first-child{
        margin-left: 20%;
    }
}

@media (max-width: 1710px){
    aside{
        margin: 0px auto;
    }
    .boxFooter:first-child{
        margin-left: 10%;
    }
}

@media (max-width: 1079px){
    #footer .boxFooter{
        margin-left: 0px;
        width: 100%;
    }

    .boxFooter h3{
        width: 80%;
        margin: 0px auto;
    }
    #footer{
        margin: 0px auto;
        width: 80%;
    }
}

@media (max-width: 840px){
   .asideBox{
    width: 300px;
   }
   aside{
    width: 650px;
   }
   #login input[type="submit"], #login input[type="reset"]{
    width: 49%;
    }
}

@media (max-width: 810px){
    #enlaces{
        float: none;
        width: 230px;
        height: 170px;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    #enlaces p{
        display: none;
    }
    #enlaces a{
        height: 25px;
    }
    section{
        float: none;
        width: 80%;
        margin: 0px auto;
    }
}

@media (max-width: 652px){
    #titulo {
        height: 102px;
    }
    #titulo h1{
        font-size: 15px;
    }
    aside{
        width: 90%;
    }
    .asideBox{
        float:none;
        width: 80%;
        margin: 0px auto;
    }
    .asideBox:first-child #buscar{
        margin-top: 0px;
    }
}

@media (max-width: 575px){
    header{
        height: 100px;
        margin: 0px auto;
    }

    header nav a{
        padding: 0px;
    }

    header #logo{
        float: none;
        padding: 0px;
        margin: 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    header #logo h2{
        width: 180px;
        margin: 0px auto;
        background-color: #37bcf9;
        margin-bottom: 15px;
    }
}

@media (max-width: 481px){
    #titulo {
        height: 103px;
    }
}

@media (max-width: 370px){
    #login input[type="submit"], #login input[type="reset"]{
        font-size:small ;
    }
    header nav a{
        font-size: 20px;
    }
}